{
  "openapi": "3.0.1",
  "info": {
    "title": "Edgee API",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.edgee.app"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/api_tokens": {
      "get": {
        "operationId": "listApiTokens",
        "summary": "List all ApiTokens",
        "description": "Returns a list of your ApiTokens. The ApiTokens are returned sorted by creation date, with the most recent ApiTokens appearing first.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The name of the ApiToken."
            }
          },
          {"$ref": "#/components/parameters/limit"},
          {"$ref": "#/components/parameters/start_key"},
          {"$ref": "#/components/parameters/order_direction"}
        ],
        "responses": {
          "200": {
            "description": "A list of ApiTokens",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListParams"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiToken"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApiToken",
        "summary": "Create a new ApiToken",
        "description": "Creates a new ApiToken. The ApiToken is returned, including its `token` field, which you should record for future reference. **Be careful, this token is only returned once, when the token is created.**",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiTokenCreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created ApiToken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiToken"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api_tokens/{id}": {
      "get": {
        "operationId": "getApiToken",
        "summary": "Get an ApiToken",
        "description": "Retrieve an ApiToken that has previously been created.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ApiToken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiToken"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteApiToken",
        "summary": "Delete an ApiToken",
        "description": "Delete an ApiToken that has previously been created. Once deleted, the ApiToken can no longer be used to authenticate requests.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted ApiToken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations": {
      "get": {
        "operationId": "listOrganizations",
        "summary": "List all Organizations",
        "description": "Returns a list of your Organizations. The Organizations are returned sorted by creation date, with the most recent Organizations appearing first.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The type of the organization.",
              "enum": ["pro", "perso"]
            }
          },
          {"$ref": "#/components/parameters/limit"},
          {"$ref": "#/components/parameters/start_key"},
          {"$ref": "#/components/parameters/order_direction"}
        ],
        "responses": {
          "200": {
            "description": "A list of Organizations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOrganization",
        "summary": "Create a new Organization",
        "description": "Creates a new Organization.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created Organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/me": {
      "get": {
        "operationId": "getMyOrganization",
        "summary": "Get my Organization",
        "description": "Retrieve my Organization personal organization.",
        "responses": {
          "200": {
            "description": "The retrieved Organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{id}": {
      "get": {
        "operationId": "getOrganization",
        "summary": "Get an Organization",
        "description": "Retrieve an Organization that has previously been created.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved Organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateOrganization",
        "summary": "Update an Organization",
        "description": "Updates an existing Organization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated Organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganization",
        "summary": "Delete an Organization",
        "description": "Deletes an existing Organization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted Organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{id}/users": {
      "get": {
        "operationId": "listOrganizationsUsers",
        "summary": "List Users of an organizations",
        "description": "Retrieves all the Users of an organizations.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The role of the users.",
              "enum": ["admin", "editor", "member"]
            }
          },
          {"$ref": "#/components/parameters/limit"},
          {"$ref": "#/components/parameters/start_key"},
          {"$ref": "#/components/parameters/order_direction"}
        ],
        "responses": {
          "200": {
            "description": "A list of Users",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrganizationUser"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{id}/users/{userId}": {
      "post": {
        "operationId": "updateOrganizationUser",
        "summary": "Update a User of an Organization",
        "description": "Updates an existing User of an Organization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUserUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationUser"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteOrganizationUser",
        "summary": "Delete a User from an Organization",
        "description": "Remove an existing User from an Organization.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List all Projects",
        "description": "Returns a list of your Projects. The Projects are returned sorted by creation date, with the most recent Project appearing first.",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The organization ID."
            }
          },
          {"$ref": "#/components/parameters/limit"},
          {"$ref": "#/components/parameters/start_key"},
          {"$ref": "#/components/parameters/order_direction"}
        ],
        "responses": {
          "200": {
            "description": "A list of Projects",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a new Project",
        "description": "Creates a new Project.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created Project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectBase"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}": {
      "get": {
        "operationId": "getProject",
        "summary": "Get a Project",
        "description": "Retrieve a Project that has previously been created.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The organization ID."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved Project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateProject",
        "summary": "Update a Project",
        "description": "Updates an existing Project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated Project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a Project",
        "description": "Deletes an existing Project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted Project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/counters": {
      "get": {
        "operationId": "getProjectCounters",
        "summary": "List all statistics for a given project",
        "description": "List all statistics for a given project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The month to filter the statistics."
            }
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The day to filter the statistics."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved project statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCounters"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/components/{componentId}/counters": {
      "get": {
        "operationId": "getProjectComponentCounters",
        "summary": "List all Counters for a given project component",
        "description": "List all Counters for a given project component.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The month to filter the counters."
            }
          },
          {
            "name": "day",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The day to filter the counters."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved project counters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectComponentCounters"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/domains": {
      "get": {
        "operationId": "listProjectDomains",
        "summary": "List all Domains",
        "description": "Retrieves all the Domains of a project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Domains",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProjectDomain",
        "summary": "Create a new Domain",
        "description": "Creates a new Domain of a project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainCreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/domains/{name}": {
      "get": {
        "operationId": "getProjectDomain",
        "summary": "Get a Domain",
        "description": "Retrieve a Domain that has previously been created.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateProjectDomain",
        "summary": "Update a Domain",
        "description": "Updates an existing Domain.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProjectDomain",
        "summary": "Delete a Domain",
        "description": "Deletes an existing Domain.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/proxy-settings": {
      "get": {
        "operationId": "listProjectProxySettings",
        "summary": "List Proxy Settings revisions of a project",
        "description": "Retrieves all the Proxy Settings revisions of a project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of all the Proxy Settings revisions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProxySettings"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProjectProxySettings",
        "summary": "Create a new ProxySettings",
        "description": "Creates a new ProxySettings.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProxySettingsCreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created ProxySettings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxySettings"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/proxy-settings/{revision}": {
      "post": {
        "operationId": "updateProjectProxySettings",
        "summary": "Update a ProxySettings by its revision number",
        "description": "Updates a ProxySettings.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "revision",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProxySettingsUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated ProxySettings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxySettings"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/components": {
      "get": {
        "operationId": "listProjectComponents",
        "summary": "List all Project Components",
        "description": "Retrieves all the Components of a project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/componentCategory"},
          {"$ref": "#/components/parameters/componentSubcategory"}
        ],
        "responses": {
          "200": {
            "description": "A list of Project Components",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectComponent"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProjectComponent",
        "summary": "Create a new Project Component",
        "description": "Creates a new Component for a project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectComponent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created Project Component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectComponent"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/components/{project_component_id}": {
      "get": {
        "operationId": "getProjectComponent",
        "summary": "Get a Component of a project",
        "description": "Retrieve a Project Component that has previously been set up.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_component_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved Project Component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectComponent"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateProjectComponent",
        "summary": "Update a Project Component",
        "description": "Updates an existing Project Component.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_component_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectComponent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated Domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectComponent"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProjectComponent",
        "summary": "Delete a Project Component",
        "description": "Deletes an existing Project Component.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_component_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted Project Component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/purge-cache": {
      "post": {
        "operationId": "purgeProjectCache",
        "summary": "Purge cache for a project",
        "description": "Purge the cache for a specific project. You can purge all cache or purge cache for a specific path. When purging by path, the cache for all domains associated with the project will be purged for that path.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The project ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgeCacheInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Cache purged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Cache purged"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/components": {
      "get": {
        "operationId": "listPublicComponents",
        "summary": "List public components",
        "description": "Returns a list of public components.",
        "parameters": [
          {"$ref": "#/components/parameters/componentCategory"},
          {"$ref": "#/components/parameters/componentSubcategory"}
        ],
        "responses": {
          "200": {
            "description": "A list of Components",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Component"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createComponent",
        "summary": "Create a Component",
        "description": "Create a Component.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentCreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created Component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/components/{id}": {
      "get": {
        "operationId": "getComponentByUuid",
        "summary": "Get a Component by Uuid",
        "description": "Retrieve a Component by Uuid.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved Component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateComponentByUuid",
        "summary": "Update a Component by Uuid",
        "description": "Updates an existing Component by Uuid.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated Component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteComponentByUuid",
        "summary": "Delete a Component by Uuid",
        "description": "Delete an existing Component by Uuid.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted Invitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/components/{orgSlug}/{componentSlug}": {
      "get": {
        "operationId": "getComponentBySlug",
        "summary": "Get a Component by Slug",
        "description": "Retrieve a Component by Slug.",
        "parameters": [
          {
            "name": "orgSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved Component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateComponentBySlug",
        "summary": "Update a Component by Slug",
        "description": "Updates an existing Component by Slug.",
        "parameters": [
          {
            "name": "orgSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated Component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Component"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteComponentBySlug",
        "summary": "Delete a Component by Slug",
        "description": "Delete an existing Component by Slug.",
        "parameters": [
          {
            "name": "orgSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted component",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/components/{id}/versions": {
      "post": {
        "operationId": "createComponentVersionByUuid",
        "summary": "Create a Component Version",
        "description": "Create a Component Version.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentVersionCreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created Component Version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentVersion"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/components/{orgSlug}/{componentSlug}/versions": {
      "post": {
        "operationId": "createComponentVersionBySlug",
        "summary": "Create a Component Version by Slug",
        "description": "Create a Component Version by Slug.",
        "parameters": [
          {
            "name": "orgSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentVersionCreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created Component Version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentVersion"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/components/{orgSlug}/{componentSlug}/versions/{versionId}": {
      "put": {
        "operationId": "updateComponentVersionBySlug",
        "summary": "Update a Component Version by Slug",
        "description": "Update a Component Version by Slug.",
        "parameters": [
          {
            "name": "orgSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "componentSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentVersionUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated Component Version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentVersion"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{id}/components": {
      "get": {
        "operationId": "listOrganizationComponents",
        "summary": "List organization components",
        "description": "Returns a list of organization components.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/componentCategory"},
          {"$ref": "#/components/parameters/componentSubcategory"}
        ],
        "responses": {
          "200": {
            "description": "A list of Components",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Component"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invitations": {
      "get": {
        "operationId": "listInvitations",
        "summary": "List all Invitations",
        "description": "Returns a list of the invitation of your organizations. The Invitations are returned sorted by creation date, with the most recent Invitation appearing first.",
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The organization ID."
            }
          },
          {"$ref": "#/components/parameters/limit"},
          {"$ref": "#/components/parameters/start_key"},
          {"$ref": "#/components/parameters/order_direction"}
        ],
        "responses": {
          "200": {
            "description": "A list of Invitations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invitation"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createInvitation",
        "summary": "Create a new Invitation",
        "description": "Creates a new Invitation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationCreateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The created Invitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invitations/{id}": {
      "get": {
        "operationId": "getInvitation",
        "summary": "Get an Invitation",
        "description": "Retrieve an Invitation that has previously been created.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved Invitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteInvitation",
        "summary": "Delete an Invitation",
        "description": "Deletes an existing Invitation.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted Invitation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get my User object",
        "description": "Retrieves my current User object.",
        "responses": {
          "200": {
            "description": "Your User object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserWithRoles"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get a User",
        "description": "Retrieve a User that has previously been created.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The retrieved User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserWithRoles"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateUser",
        "summary": "Update a User",
        "description": "Update a User that has previously been created.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserWithRoles"
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/debug/data-collection/incoming": {
      "get": {
        "operationId": "getIncomingDataCollectionEvents",
        "summary": "List all Incoming Data Collection Events",
        "description": "Retrieves all the Incoming Data Collection Events of a project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/limit"},
          {"$ref": "#/components/parameters/start_key"},
          {"$ref": "#/components/parameters/order_direction"}
        ],
        "responses": {
          "200": {
            "description": "A list of Incoming Data Collection Events",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IncomingDataCollectionEvent"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{id}/debug/data-collection/outgoing/{event_id}": {
      "get": {
        "operationId": "getOutgoingDataCollectionEvents",
        "summary": "List all Outgoing Data Collection Events",
        "description": "Retrieves all the Outgoing Data Collection Events of a project.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {"$ref": "#/components/parameters/limit"},
          {"$ref": "#/components/parameters/start_key"},
          {"$ref": "#/components/parameters/order_direction"}
        ],
        "responses": {
          "200": {
            "description": "A list of Outgoing Data Collection Events",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ListResponse"
                    }
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OutgoingDataCollectionEvent"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/upload/presign": {
      "get": {
        "operationId": "getUploadPresignedUrl",
        "summary": "Get Upload Presigned URL",
        "responses": {
          "200": {
            "description": "An Upload Presigned URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadPresign"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "description": "A limit on the number of objects to be returned."
        }
      },
      "start_key": {
        "name": "start_key",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "description": "A cursor for use in pagination. `start_key` parameter defines the place in the list for your subsequent calls. For instance, if you make a list request and receive 100 objects, the last one having `ABCDE` key, you can make a subsequent call with `start_key=ABCDE` in order to fetch the next page of the list."
        }
      },
      "order_direction": {
        "name": "order_direction",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
              "ASC",
              "DESC"
            ],
          "description": "The order direction of the returned list. Objects are returned sorted by creation date. By default, the order is descending, so the most recent object appears first. Possible values are ASC and DESC. Default is DESC."
        }
      },
      "componentCategory": {
        "name": "category",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["data_collection", "edge_function", "js_gateway", "security", "consent_management", "identity", "stitching"],
          "description": "Filter components by category."
        }
      },
      "componentSubcategory": {
        "name": "subcategory",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["analytics", "warehouse", "attribution", "conversion_api", "wasm_function", "server_side_tagging", "microservice", "kv_store", "bot_protection", "rate_limiting", "anti_fraud", "consent_mapping", "cmp", "native_cookies", "unique_id", "ab_testing", "web_performance"],
          "description": "Filter components by sub category."
        }
      }
    },
    "schemas": {
      "ApiToken": {
        "type": "object",
        "description": "An ApiToken is a unique identifier that you can use to authenticate requests to the API. You can create as many ApiTokens as you need.",
        "properties": {
          "object": {
            "type": "string",
            "description": "String representing the object’s type. Objects of the same type share the same value.",
            "readOnly": true,
            "example": "api_token"
          },
          "id": {
            "type": "string",
            "description": "This is the internal ID for this ApiToken. You don’t need to record this information, since you will not need to use it.",
            "readOnly": true
          },
          "user_id": {
            "type": "string",
            "description": "The ID of the user that created this ApiToken.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The name of the ApiToken."
          },
          "from_browser": {
            "type": "boolean",
            "description": "Whether this ApiToken was created from the browser.",
            "readOnly": true
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "description": "The last time this ApiToken was used.",
            "readOnly": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "The time this ApiToken expires."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the object was created.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the object was last updated.",
            "readOnly": true
          },
          "token": {
            "type": "string",
            "description": "The actual token that you will use to authenticate your requests. > **Be careful, this token is only returned once, when the token is created.**",
            "readOnly": true
          }
        }
      },
      "ApiTokenCreateInput": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiToken"
          }
        ],
        "required": ["name"]
      },
      "Organization": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "description": "String representing the object’s type. Objects of the same type share the same value.",
            "readOnly": true,
            "example": "organization"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the organization.",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The name of the organization."
          },
          "slug": {
            "type": "string",
            "description": "The slug of the organization."
          },
          "avatar_url": {
            "type": "string",
            "description": "Avatar URL of the organization",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "The type of the organization.",
            "readOnly": true,
            "enum": ["perso", "pro"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the object was created.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the object was last updated.",
            "readOnly": true
          }
        },
        "required": [
          "object",
          "id",
          "name",
          "slug",
          "created_at",
          "updated_at"
        ]
      },
      "OrganizationCreateInput": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Organization"
          }
        ],
        "required": ["name", "slug"]
      },
      "OrganizationUpdateInput": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Organization"
          }
        ],
        "required": ["id"]
      },
      "ProjectBase": {
        "type": "object",
        "description": "A Project is a unique identifier that you can use to manage and organize your work. Each project belongs to an organization.",
        "properties": {
          "object": {
            "type": "string",
            "description": "String representing the object's type. Objects of the same type share the same value",
            "example": "project",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the project",
            "readOnly": true
          },
          "organization_id": {
            "type": "string",
            "description": "Unique identifier for the organization the project belongs to",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "slug": {
            "type": "string",
            "description": "The Name of the project, URL-friendly string that identifies the project",
            "example": "my-project"
          },
          "description": {
            "type": "string",
            "description": "Description of the project",
            "example": "This is my project"
          },
          "type": {
            "type": "string",
            "description": "The type of the project.",
            "enum": ["proxy", "ai_analytics", "mcp"],
            "default": "proxy"
          },
          "avatar_url": {
            "type": "string",
            "description": "Avatar URL of the project",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the project was created",
            "example": "2022-03-01T00:00:00Z",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the project was last updated",
            "example": "2022-03-01T00:00:00Z",
            "readOnly": true
          },
          "external_project_url": {
            "type": "string",
            "description": "External link to a platform provider for the project",
            "example": "https://my-project.com"
          }
        }
      },
      "ProjectBaseWithoutOrgId": {
        "type": "object",
        "description": "A Project is a unique identifier that you can use to manage and organize your work. Each project belongs to an organization.",
        "properties": {
          "object": {
            "type": "string",
            "description": "String representing the object's type. Objects of the same type share the same value",
            "example": "project",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the project",
            "readOnly": true
          },
          "slug": {
            "type": "string",
            "description": "The Name of the project, URL-friendly string that identifies the project",
            "example": "my-project"
          },
          "description": {
            "type": "string",
            "description": "Description of the project",
            "example": "This is my project"
          },
          "type": {
            "type": "string",
            "description": "The type of the project.",
            "enum": ["proxy", "ai_analytics", "mcp"],
            "default": "proxy"
          },
          "avatar_url": {
            "type": "string",
            "description": "Avatar URL of the project",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the project was created",
            "example": "2022-03-01T00:00:00Z",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the project was last updated",
            "example": "2022-03-01T00:00:00Z",
            "readOnly": true
          }
        }
      },
      "ProjectFull": {
        "type": "object",
        "description": "A Project is a unique identifier that you can use to manage and organize your work. Each project belongs to an organization.",
        "properties": {
          "log_severity": {
            "type": "string",
            "description": "The log severity of the project.",
            "enum": ["DEBUG", "INFO", "WARNING", "ERROR"],
            "default": "INFO",
            "nullable": true
          },
          "edgee_behind_proxy_cache": {
            "type": "boolean",
            "description": "Whether the project is behind a proxy cache (or CDN).",
            "default": false,
            "nullable": true
          },
          "force_https": {
            "type": "boolean",
            "description": "Whether the project is forcing HTTPS.",
            "default": true,
            "nullable": true
          },
          "cache": {
            "type": "boolean",
            "description": "Whether caching is enabled for the project.",
            "default": false,
            "nullable": true
          },
          "override_cache": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CacheRule"
            },
            "description": "List of cache rules that override the default cache settings."
          },
          "override_cache_enabled": {
            "type": "boolean",
            "description": "Whether the cache override is enabled.",
            "default": false,
            "nullable": true
          },
          "cookie_name": {
            "type": "string",
            "description": "The name of the cookie that edgee will use to store the session ID.",
            "default": "edgee",
            "nullable": true
          },
          "cookie_domain": {
            "type": "string",
            "description": "The domain of the cookie that edgee will use to store the session ID.",
            "nullable": true
          },
          "proxy_only": {
            "type": "boolean",
            "description": "Whether the Edgee will only proxy requests to the origin without any computing.",
            "default": false,
            "nullable": true
          },
          "proxy_only_path_regex": {
            "type": "string",
            "description": "A regular expression that matches the path of the request to be proxied only.",
            "nullable": true
          },
          "inject_sdk": {
            "type": "boolean",
            "description": "Whether Edgee should inject the SDK into the html content.",
            "default": false,
            "nullable": true
          },
          "inject_sdk_position": {
            "type": "string",
            "description": "The position of the SDK injection.",
            "enum": ["prepend", "append"],
            "default": "append",
            "nullable": true
          },
          "cookieless": {
            "type": "boolean",
            "description": "Whether the Edgee should use a cookieless session.",
            "default": false,
            "nullable": true
          },
          "autocapture": {
            "type": "object",
            "description": "Configuration for automatic event capture by the Edgee SDK.",
            "properties": {
              "pageview": {
                "type": "boolean",
                "description": "Whether to automatically capture pageview events",
                "default": false
              },
              "spa_pageview": {
                "type": "boolean", 
                "description": "Whether to automatically capture single page app pageview events",
                "default": false
              },
              "engagement": {
                "type": "boolean",
                "description": "Whether to automatically capture engagement events",
                "default": false
              },
              "click": {
                "type": "boolean",
                "description": "Whether to automatically capture click events",
                "default": false
              },
              "form": {
                "type": "boolean",
                "description": "Whether to automatically capture form events",
                "default": false
              },
              "scroll": {
                "type": "boolean",
                "description": "Whether to automatically capture scroll events",
                "default": false
              }
            }
          },
          "enforce_no_store_policy": {
            "type": "boolean",
            "description": "A boolean that indicates whether Edgee should enforce a `no-store` cache-control header on the responses that can be computed.",
            "default": false,
            "nullable": true
          },
          "trusted_ips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of trusted IPs that can access the project.",
            "default": [],
            "nullable": true
          },
          "password_protection": {
            "type": "boolean",
            "description": "Whether the project is password protected.",
            "default": false,
            "nullable": true
          },
          "blocked_ips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of blocked IPs that can't access the project. Blocking IPs can only works is trusted_ips and password_protection are empty.",
            "default": [],
            "nullable": true
          },
          "cookie_whitelist": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of cookies that are allowed to be set by the project.",
            "default": [],
            "nullable": true
          },
          "forwarded_headers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            },
            "description": "List of headers that are forwarded to the origin.",
            "default": [],
            "nullable": true
          },
          "rate_limiting": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RateLimitingRule"
            },
            "description": "List of rate limiting rules for the project.",
            "default": [],
            "nullable": true
          },
          "rate_limiting_enabled": {
            "type": "boolean",
            "description": "Whether rate limiting is enabled for the project.",
            "default": false,
            "nullable": true
          }
        }
      },
      "Project": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ProjectBase"
          },
          {
            "$ref": "#/components/schemas/ProjectFull"
          }
        ]
      },
      "ProjectCreateInput": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ProjectBase"
          }
        ],
        "required": ["organization_id", "slug", "type"]
      },
      "ProjectUpdateInput": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ProjectBaseWithoutOrgId"
          },
          {
            "$ref": "#/components/schemas/ProjectFull"
          }
        ],
        "required": ["id"]
      },
      "CacheRule": {
        "type": "object",
        "description": "A CacheRule is a rule that overrides the default cache settings.",
        "properties": {
          "path": {
            "type": "string"
          },
          "regex": {
            "type": "boolean"
          },
          "ttl": {
            "type": "number"
          },
          "swr": {
            "type": "number"
          },
          "pass": {
            "type": "boolean"
          },
          "rank": {
            "type": "number"
          },
          "conditions": {
            "type": "object",
            "properties": {
              "request_cookies": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/KeyValueConditions"
                  }
                ]
              },
              "request_headers": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/KeyValueConditions"
                  }
                ]
              },
              "request_query_params": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/KeyValueConditions"
                  }
                ]
              },
              "request_methods": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "response_status": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              },
              "response_headers": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/KeyValueConditions"
                  }
                ]
              }
            }
          }
        }
      },
      "PurgeCacheInput": {
        "type": "object",
        "description": "Input parameters for purging cache",
        "properties": {
          "id": {
            "type": "string",
            "description": "The project ID (required, must be a valid UUID)",
            "format": "uuid"
          },
          "path": {
            "type": "string",
            "description": "Optional path to purge cache for. If not provided, all cache will be purged. Query strings are automatically removed from the path.",
            "example": "/api/v1/users"
          },
          "override_cache": {
            "type": "boolean",
            "description": "Whether to purge override cache instead of main cache. Defaults to false.",
            "default": false
          }
        },
        "required": ["id"]
      },
      "RateLimitingRule": {
        "type": "object",
        "description": "A RateLimitingRule defines a rate limiting rule for the project.",
        "properties": {
          "rank": {
            "type": "integer",
            "description": "The rank of the rule. Rules are evaluated in order of rank (lowest first).",
            "minimum": 1
          },
          "limit": {
            "type": "integer",
            "description": "Maximum requests per second within the rate window.",
            "minimum": 1
          },
          "window": {
            "type": "string",
            "description": "Rate window for counting requests.",
            "enum": ["1s", "10s", "60s"],
            "default": "10s"
          },
          "block_duration": {
            "type": "integer",
            "description": "Duration to block the client if rate limit is exceeded (in seconds).",
            "minimum": 1,
            "default": 60
          },
          "key": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["ip", "ua"]
            },
            "description": "Criteria to include in the client key for rate limiting.",
            "default": ["ip"]
          },
          "conditions": {
            "type": "object",
            "description": "Conditions that must be met for this rule to apply.",
            "properties": {
              "path": {
                "type": "string",
                "description": "Path pattern to match. Can be exact path or regex pattern."
              },
              "regex": {
                "type": "boolean",
                "description": "Whether the path is a regex pattern.",
                "default": false
              },
              "method": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["GET", "POST", "PUT", "DELETE", "PATCH", "HEAD", "OPTIONS", "TRACE"]
                },
                "description": "HTTP methods that this rule applies to."
              },
              "continent": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["AF", "AN", "AS", "EU", "NA", "OC", "SA"]
                },
                "description": "Continents that this rule applies to."
              },
              "country": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^[A-Z]{2}$"
                },
                "description": "Countries (ISO 3166-1 alpha-2 codes) that this rule applies to."
              }
            }
          }
        },
        "required": ["rank", "limit"]
      },
      "KeyValueConditions": {
        "type": "object",
        "properties": {
          "present": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "absent": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "values": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "UserUpdateInput": {
        "type": "object",
        "properties": {
          "avatar_url": {
            "type": "string",
            "description": "The user avatar URL."
          },
          "terms_version": {
            "type": "string",
            "description": "The Terms version accepted by the user."
          },
          "privacy_version": {
            "type": "string",
            "description": "The Privacy version accepted by the user."
          }
        }
      },
      "Domain": {
        "type": "object",
        "description": "A Domain is a hostname that you can use to access your project. Each domain belongs to a project.",
        "properties": {
          "object": {
            "type": "string",
            "description": "String representing the object's type. Objects of the same type share the same value",
            "example": "domain",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The domain name."
          },
          "project_id": {
            "type": "string",
            "description": "The Project ID."
          },
          "dns_status": {
            "type": "boolean",
            "description": "The DNS status of the domain.",
            "readOnly": true
          },
          "ssl_status": {
            "type": "boolean",
            "description": "The SSL status of the domain.",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the object was created.",
            "readOnly": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the object was last updated.",
            "readOnly": true
          }
        }
      },
[...]
