name: "Publish Releases"
on:
  release:
    types: [published]
jobs:
  flakehub:
    name: "Publish to Flakehub"
    runs-on: "ubuntu-latest"
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: "actions/checkout@v4"
        with:
          ref: "${{ github.ref_name }}"
      - uses: "DeterminateSystems/nix-installer-action@main"
      - uses: "DeterminateSystems/flakehub-push@main"
        with:
          visibility: "public"
          name: "edgee-cloud/edgee"
          tag: "${{ github.ref_name }}"
  cratesio:
    name: Publish to Crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - run: cargo fetch
      - name: cargo publish
        run: cargo publish --token ${{ secrets.CRATES_IO_TOKEN }}
  docker:
    name: "Publish to Docker Hub"
    runs-on: "ubuntu-latest"
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: "actions/checkout@v4"
        with:
          ref: "${{ github.ref_name }}"
      - uses: "docker/login-action@v2"
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_PASSWORD }}"
      - run: "docker build -t edgeecloud/edgee:${{ github.ref_name }} ."
      - run: "docker push edgeecloud/edgee:${{ github.ref_name }}"