name: Build release
permissions:
  contents: write
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'
jobs:
  build-release-binaries:
    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            features: bundled
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            features: bundled
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            features: bundled
          - os: ubuntu-latest
            target: aarch64-unknown-linux-musl
            features: bundled
          - os: macos-latest
            target: x86_64-apple-darwin
            features: bundled
          - os: macos-latest
            target: aarch64-apple-darwin
            features: bundled
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            features: bundled
            rustflags: -C target-feature=+crt-static
            bin_suffix: .exe
    name: Build release binary (${{ matrix.platform.target }} on ${{ matrix.platform.os }})
    runs-on: ${{ matrix.platform.os }}
    env:
      RUSTFLAGS: ${{ matrix.platform.rustflags || '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.platform.target }}
          args: '-p edgee --bin edgee --release --features "${{ matrix.platform.features }}"'

      - name: Save binary
        uses: actions/upload-artifact@v4
        with:
          name: edgee.${{ matrix.platform.target }}${{ matrix.platform.bin_suffix || '' }}
          path: target/${{ matrix.platform.target }}/release/edgee${{ matrix.platform.bin_suffix || '' }}
          retention-days: 3

      - run: cp target/${{ matrix.platform.target }}/release/edgee${{ matrix.platform.bin_suffix || '' }} edgee.${{ matrix.platform.target }}${{ matrix.platform.bin_suffix || '' }}
      - name: Publish artifacts and release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: edgee.${{ matrix.platform.target }}${{ matrix.platform.bin_suffix || '' }}
          tags: true

  homebrew-pull-request:
    name: Run workflow in homebrew-edgee repo to create new release PR
    needs: build-release-binaries
    runs-on: ubuntu-latest
    steps:
      - run: gh workflow run new-release-pr.yml -R edgee-cloud/homebrew-edgee
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
